body{
	background-image: url(image/bg.jpg);
}
a{
	color:#fff;
}
a:hover{
	text-decoration: none;
}
.container{
	width: 450px;
	height: 500px;
	background-color: #182134;
	margin: 250px auto 0 auto;
	text-align: center;
}
input[type="text"],input[type="password"]{
	width: 300px;
	height: 50px;
	font-size: 18px;
	margin-bottom: 25px;
	border-radius: 4px;
	padding-left: 10px;
}