@font-face{
	font-family: "FontAwesome";
	src: url("../fonts/fontawesome-webfont.woff") format("woff");
}
body {
	background-image: url("../image/bg.jpg");
	margin-bottom: 0;
}

.friend {
	background-color: rgba(24, 33, 52, 0.7);
	width: 100%;
	height: 70px;
	border-radius: 3px;
	margin-top: 2px;
}
#contacts, #message{
	float: left;
}
#contacts{
	width: 26%;
	height: 100%;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
}
#friends{
	overflow-y: auto;
	overflow-x: hidden;
	top: 40px;
	bottom: 0;
	height: 100%-40px;
	position: absolute;
	width: 100%;
}
#message{
	width: 74%;
	height: 100%;
	background-image: url("../image/bgmassage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.Search input{
	width: 100%;
	height: 35px;
	font-size: 18px;
	margin-bottom: 5px;
	border-radius: 4px;
	padding-left: 40px;
}
.Search::before{
	font-family: "FontAwesome";
	content: "\f002";
	position: absolute;
	font-size: 23px;
	padding: 5px 0 0 7px;
	color:#2c536c;
}
.Search:nth-child(2)::before{
	content: "\f023";
}
.Search :hover::before{
	color:#319ebc;
	transition: all 0.3s;
}
.Search input:hover{
	box-shadow: 0 0 6px 3px rgba(58, 219,253,0.35);
}

.Write{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.Write::before{
	font-family: "FontAwesome";
	content: "\f0c6";
	position: absolute;
	font-size: 30px;
	padding: 5px 0 0 7px;
	color:#2c536c;
	transform: scaleX(-1);
	left: 8px;
}
.Write input{
	width: 100%;
	height: 35px;
	font-size: 18px;
	margin-bottom: 5px;
	border-radius: 4px;
	padding-left: 40px;
}